.footer {
    background-color: whitesmoke;
    /* border: 2px solid black; */
    margin-top: 3%;
    padding: 2%;


}

.footer-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.footer-1 h2 {
    font-size: .9rem;
    font-weight: 400;
    margin: auto;
}

/* .footer-2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
} */
.footer-2 img {
    width: 1%;
    position: relative;
    left: 9%;
}

.footer-2 p {
    font-size: .8rem;
    display: inline-block;
    margin-left: 10%;
}

.inp-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
}

.inp-btn button {
    width: 10%;
}

.inp-btn .btn-1 {
    all: unset;
    margin-left: 90%;
    border: none;
    background-color: transparent;
    color: #0f6ab3;
}

.inp-btn .btn-2 {
    background-color: rgb(20, 79, 155);
    border: none;
    color: white;
}

.inp-btn .inp-2 {
    margin-left: .5rem;
}

.inp-btn input {
    margin-left: 100%;
    width: 100%;
    padding: .4rem;
    /* margin:10px 0; */
}

.inp-btn input:focus {
    border: 1.5px solid #1171bf;
    outline: none;
}

.horizontal-line {
    width: 93%;
    margin: auto;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-column ul {
    list-style: none;
}

.footer-column a {
    text-decoration: none;
    color: rgb(110, 107, 107);
    font-size: .7rem;
    transition: border-bottom 0.3s ease;
    text-decoration: none;
}

.footer-column a:hover {
    width: fit-content;
    border-bottom: 1px solid black;
}

.footer-column h3 {
    margin-left: 15%;
    font-size: .8rem;
    font-weight: 500;
}

.footer-column .venders {
    margin-left: 1%;
}

.end-footer-content {
    display: flex;
    flex-direction: row;

}

.end-footer-content ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: auto;

}

.end-footer-content a {
    text-decoration: none;
    color: rgb(110, 107, 107);
    font-size: .7rem;
    transition: border-bottom 0.3s ease;
    text-decoration: none;
}

.end-footer-content a:hover {
    width: fit-content;
    border-bottom: 1px solid black;
}

.social-media-logo {
    /* width: 10%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.social-media-logo img {
    border-radius: 9px;
    /* border: 1px solid red; */
    margin-top: 2%;

}

.social-media-logo .fb {
    width: 2%;

}

.social-media-logo .insta {
    width: 2%;

}

.social-media-logo .pt {
    width: 4%;

}

.social-media-logo .co {
    width: 2%;
}

.copy-right {
    text-align: center;
    color: rgb(110, 107, 107);
    font-size: .6rem;
    margin-top: 2%;
}